{% extends 'tracker/partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="over_header card-header py-1 px-2 bkl" style="padding: 0;">
    <div class="d-flex">
        <div class="d-flex align-items-center">
            <div class="default-profile-picture2">
                <span class="active_project_icon" style="color:{{project.project_color}}"><i class="mdi {{project.project_icon}} mdi-36px"></i></span>
            </div>
            <div class="d-flex ml-2 mt-1 flex-column">
                <p class="lead2 m-0" style="font-size: 17px;">
                    <span class="active_project" style="font-weight: 500;">{{project.name}}</span>
                    <span class="active_project_key" style="font-style:italic;"> ({{project.key}})</span>
                </p>
                <span class="m-0 text-muted proj_type" style="font-size: 13px;">{{project.project_type}}</span>
            </div> 
        </div>
        <div class="ml-auto d-flex align-items-center">
            <span class="mr-2">members</span>
            <span class="badge badge-danger mr-3">20</span>
            {% if not request.user.is_developer %}
              <button type="button" data-toggle="modal" data-target="#invitationsModal" class="btn btn-primary btn-sm mr-2">Invite New members</button>
            {% endif %}
          </div>
    </div>
</div>
<div class="cr-edt-tkt p-3 nw_tkt">
    <div class="mb-2 hd_ d-flex align-items-center justify-content-between"> 
        <h3 class="">New Ticket</h3>
        <span class="cl_cr"><i class="mdi mdi-close" style="pointer-events:none"></i> </span> 
    </div>
    <div class="tkt-frm-bdy pr-1">
        {{ form.media }}
        {% crispy form %}
    </div>
    <div class="modal-footer justify-content-start">
        <button type="submit" id="cr_nw_tk" form="createTicketForm" class="btn btn-primary" style="margin-bottom: 12px;">Create</button>
        <button class="btn btn-secondary cl_cr">Cancel</button>
    </div>
</div>
<div class="cr-edt-tkt p-3 edt-tkt">
    <div class="mb-2 hd_ d-flex align-items-center justify-content-between"> 
        <h3 class="">Edit Ticket</h3>
        <span class="cl_cr"><i class="mdi mdi-close" style="pointer-events:none"></i> </span> 
    </div>
    <div class="tkt-frm-bdy pr-1">
        <div class="d-flex justify-content-center" style="margin-top:50%;">
            <div class="lds-hourglass "></div>
        </div>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="submit" id="cr_nw_tk" form="createTicketForm" class="btn btn-primary" style="margin-bottom: 12px;">Edit Ticket</button>
        <button class="btn btn-secondary cl_cr">Cancel</button>
    </div>
</div>
<div class="bkl-parent">
    <div class="bkl-hd">
        <div class="d-flex justify-content-between align-items-center p-3">
            <h3 class="cur_filter">All Open</h3>
            <div>
                <button type="button" id="nw_tkt" class="btn btn-sm btn-primary">
                    <i class="mdi mdi-plus"></i>
                    Ticket
                </button>
                <button type="button" id="filter_btn" class="btn btn-sm btn-secondary ">
                    <i class="mdi mdi-filter"></i>
                    Filters
                </button>
                <div class="dropdown ext-prt">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-content-save"></i>
                        Save as
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <span class="dropdown-item buttons-csv">CSV</span>
                      <span class="dropdown-item buttons-excel">Excel</span>
                      <span class="dropdown-item buttons-pdf">Pdf</span>
                      <span class="dropdown-item buttons-print">Print</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="filters p-3">
            <div class="d-flex align-items-center mb-2">
                <span class="mb-3 mr-3">Status: </span>
                <div class="status_filter">
                    <input type="radio"  name="status_fil" id="All" checked value="All">
                    <label class="status_check_label" for="All">All</label> 
                    {% for choice in status_choices %}
                    <input type="radio"  name="status_fil" id="{{choice}}" value="{{choice}}">
                    <label class="status_check_label" for="{{choice}}">{{choice}}</label>
                    {% endfor %} 
                    <input type="radio"  name="status_fil" id="not_closed" checked value="not_closed">
                    <label class="status_check_label" for="not_closed">Not Closed</label>                
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="d-flex flex-column">
                    <label for="toggle_columns">View Options</label>
                    <select multiple="multiple" name="toggle_columns" id="toggle_columns">
                        <option value="0">Key</option>
                        <option value="1">Subject</option>
                        <option value="2">Type</option>
                        <option value="3">Status</option>
                        <option value="4">Priority</option>
                        <option value="5">Assignee</option>
                        <option value="6">Accountable</option>
                        <option value="7">Progress</option>
                        <option value="8">Milestone</option>
                        <option value="9">Estimated Hours</option>
                        <option value="10">Start Date</option>
                        <option value="11">End Date</option>
                        <option value="12">Created By</option>
                        <option value="13">Actual Hours</option>
                        <option value="14">Update On</option>
                        <option value="15">Create On</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="assignee_select">Assignee</label>
                    <div class="form-group mb-0" >
                        <select class="form-control" id="assignee_select" data-placeholder="Filter by assignee">
                            {% for member in members %}
                                <option value="" selected></option>
                                <option>{{member.full_name}}</option>
                            {% endfor %}
                            
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mb-0">
                        <label for="accountable_select">Accountable</label>
                        <select class="form-control" id="accountable_select" data-placeholder="Filter by accountable">
                            {% for member in members %}
                                <option value="" selected></option>
                                <option>{{member.full_name}}</option>
                            {% endfor %}
                            
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="type_select">Type</label>
                    <div class="form-group mb-0">
                        <select class="form-control" id="type_select" data-placeholder="Filter by type">
                            <option value="All" selected>All</option>
                            {% for choice in type_list %}
                                <option value="{{choice}}">{{choice}}</option>
                            {% endfor %}
                            
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="mt-3" id="MainEquipDiv">
        <table class="table" id="tkts-bkl" >
            <thead>
                <tr>
                    <th class="med-col">Key</th>
                    <th class="subj">Subject</th>
                    <th class="col-50 pl-1">Type</th>
                    <th class="col-75 px-3">Status</th>
                    <th class="col-75 px-3">Priority</th>
                    <th class="px-3 med-col">Assignee</th>
                    <th class="px-3 med-col">Accountable</th>
                    <th class="med-col">Progress</th>
                    <th class="med-col">Milestone</th>
                    <th class="col-30">est</th>
                    <th class="med-col">Start Date</th>
                    <th class="med-col">end date</th>
                    <th class="med-col">created_by</th>
                    <th class="col-30">Act</th>
                    <th class="med-col">updated on</th>
                    <th class="med-col">created on</th>
                </tr>
            </thead>

        </table>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'tracker/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'tracker/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'tracker/js/dataTables.fixedColumns.min.js' %}"></script>
<script src="//cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="{% static 'tracker/js/multiple-select.min.js' %}"></script>

{% endblock scripts %}