{% extends 'tracker/partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'tracker/new_tkt_and_ov_head.html' %}
<div class="d-flex pt-4 justify-content-center board_box">
    <div class="_stat open">
        <h5>Open</h5>
        <div class="_stat__child">
        {% for ticket in project.tickets.all %}
            {% if ticket.status == 'Open' %}
            {% include 'tracker/new_card.html' %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="_stat todo">
        <h5>todo</h5>
        <div class="_stat__child">
        {% for ticket in project.tickets.all %}
            {% if ticket.status == 'Todo' %}
                {% include 'tracker/new_card.html' %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="_stat in_pro">
        <h5>In Progress</h5>
        <div class="_stat__child">
        {% for ticket in project.tickets.all %}
            {% if ticket.status == 'In Progress' %}
            {% include 'tracker/new_card.html' %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="_stat resolved">
        <h5>Resolved</h5>
        <div class="_stat__child">
        {% for ticket in project.tickets.all %}
            {% if ticket.status == 'Resolved' %}
            {% include 'tracker/new_card.html' %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="_stat closed">
        <h5>Closed</h5>
        <div class="_stat__child">
        {% for ticket in project.tickets.all %}
            {% if ticket.status == 'Closed' %}
            {% include 'tracker/new_card.html' %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'tracker/js/board.js' %}"></script>
<script src="{% static 'tracker/js/jquery.ui.sortable.min.js' %}"></script>
{% endblock scripts %}