{% load crispy_forms_tags %}
<!-- Tabs navs -->
<ul class="nav nav-tabs nav-justified mb-3 tkt-dtls-menu border-0" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="ex1-tab-1" data-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">
            OverView
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex1-tab-2" data-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">
            History
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex1-tab-3" data-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">
            Comments
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="full-page"  href="" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">
            <i class="mdi mdi-24px mdi-arrow-expand" style="line-height: 0;"></i>
        </a>
        <i class="mdi mdi-24px mdi-close cl_cr"></i>
    </li>

</ul>
<!-- Tabs navs -->
  
<!-- Tabs content -->
  <div class="tab-content" id="ex1-content">
    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1" >
        <div class=" d-flex">
            <h4 class="{{type_class}} mr-3">{{instance.ticket_type}}</h4>
            <p class="flex-grow-1" style="font-weight:500;">{{instance.subject}}</p>
        </div>
        {{form.status}}
    </div>
    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
      Tab 2 content
    </div>
    <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
      Tab 3 content
    </div>
  </div>
  <!-- Tabs content -->