{% load crispy_forms_tags %}
<!-- Tabs navs -->
<ul class="nav nav-tabs nav-justified mb-3 tkt-dtls-menu border-0" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="ex1-tab-1" data-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">
            OverView
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex1-tab-2" data-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">
            History
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex1-tab-3" data-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">
            Comments
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="full-page"  href="{% url 'ticket-details-page' site_slug=site_slug project_key=project_key ticket_key=key %}" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">
            <i class="mdi mdi-24px mdi-arrow-expand" style="line-height: 0;"></i>
        </a>
        <i class="mdi mdi-24px mdi-close cl_cr"></i>
    </li>

</ul>
<!-- Tabs navs -->
  
<!-- Tabs content -->
  <div class="tab-content" id="ex1-content">
    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1" >
        <form method="POST" id="editTicketForm">
            {% csrf_token %}
            <div class="d-flex align-items-center mb-3">
                <div class="d-none">{{form.ticket_type|as_crispy_field}}</div>
                <div class="">
                    <h4 class="mr-2 mb-0 _ty_cl {{type_class}}">{{instance.ticket_type}}</h4>
                </div>
                <div class="flex-grow-1">
                    {{form.subject|as_crispy_field}}
                    <span id="error_1_id_subject" class="invalid-feedbacks d-none">
                        <strong>This field is required.</strong>
                    </span>
                </div>
                
            </div>
            <div class="d-flex align-items-center mb-3">
                {{form.status}}
                <span class="ml-3" style="font-size:12px; margin-top:10px;">           
                    <div class="d-flex flex-column" style="color: #474040;">
                        <span>
                            <span class="inst_key">{{instance.key}}</span>
                             created by {{instance.created_by}}
                        </span>
                        <span> Updated: {{instance.updated_date}}</span>
                    </div>
                </span>
            </div>
            <div id="descpt">
                {{form.media}}
                {{form.description|as_crispy_field}}
            </div>
            <div>
                <h4 class="mkr">People</h4>
                <div>
                    {{form.assignee|as_crispy_field}}
                    
                    <span class="tkts-asg ml-2 ass {% if not instance.assignee %} d-none {% endif %}" style="background:{{instance.assignee.background}}">{{instance.assignee.get_first_letters}}</span>  
                </div>
                <div >
                    {{form.accountable|as_crispy_field}}
                    {% if instance.accountable %}
                        <span class="tkts-asg ml-2 acc {% if not instance.accountable %} d-none {% endif %}" style="background:{{instance.accountable.background}}">{{instance.accountable.get_first_letters}}</span> 
                    {% endif %}
                </div>
            </div>
            <div class="">
                <h4 class="mkr">Estimated and Time</h4>
                {{form.est_hours|as_crispy_field}} 
                {{form.act_hours|as_crispy_field}} 
            </div>
            <div class="">
                <h4 class="mkr">Details</h4>
                {{form.priority|as_crispy_field}}
                <div class="d-flex align-items-center justify-content-between">
                    <label>Dates</label>
                    {{form.start_date|as_crispy_field}}
                    <span class="mx-2">To</span>
                    {{form.end_date|as_crispy_field}}
                </div>
            </div>
            <div>
            {{form.progress|as_crispy_field}}
            <span id="error_1_id_progress" class="invalid-feedbacks d-none">
                <strong>Ticket progress is limited to 100.</strong>
            </span>
            </div>
            {{form.milestone|as_crispy_field}}

            <button type="submit" id="edt_tkt_frm" class="btn btn-primary sbmt_frm d-none">edit</button>
        </form>
    </div>
    
    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
      Tab 2 content
    </div>
    <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
      Tab 3 content
    </div>
  </div>
  <!-- Tabs content -->