{% extends 'tracker/partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'tracker/new_tkt_and_ov_head.html' %}
<div class="row p_home pt-5 flex-column">
    <div class="border-right">
        <div class="d-flex align-items-end">
            <h4>{{project}} Home: </h4>
            <p class='ml-3'>Recent updates</p>
        </div>
        <div class="cldr-chrt-box" style="height: 350px;">
          <canvas id="calendarChrt"></canvas>
        </div>
    </div>
    <div class="border-left d-flex">
      <div class="col-md-4">
        <h4>Burndown Chart</h4>
        <div class="p_mil_bdwn chrt">
            <p class="empt_hist"> here should go the project milestones burndown charts</p>
            <canvas id="burndownChrt"></canvas>
        </div>
      </div>
      <div class="col-md-4">
        <h4>Status</h4>
        <div class="p_stat_cht chrt">
            <canvas id="status_chrt"></canvas>
        </div>
      </div>
      <div class="col-md-4">
        <h4>Priority</h4>
        <div class="p_mil_bdwn chrt">
            <canvas id="priority_chrt"></canvas>
            <div class="d-flex align-items-center justify-content-center">
                <div class="d-flex flex-column justify-content-center mr-2">
                    <span class="prios">Immediate</span>
                    <span class="badge mt-1 badge-danger">3</span>
                </div>
                <div class="d-flex flex-column justify-content-center mr-2">
                    <span class="prios">Normal </span>
                    <span class="badge mt-1 badge-info">3</span>
                </div>
                <div class="d-flex flex-column justify-content-center mr-2">
                    <span class="prios">low</span>
                    <span class="badge mt-1 badge-primary">3</span>
                </div>
                <div class="d-flex flex-column justify-content-center mr-2">
                    <span class="prios">High</span>
                    <span class="badge  mt-1 badge-dark">3</span>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>   

{% endblock content %}
{% block scripts %}
<script>
    var projectStatusCanvas = $("#status_chrt").get(0).getContext("2d");
    var priorityCanvas = $("#priority_chrt").get(0).getContext("2d");
    var data = {
      labels: [ {% for ticket in tickets %} '{{ticket.status}}', {% endfor %}],
      datasets: [
        {
          label: 'Project status',
          data: [{% for ticket in tickets %} '{{ticket.status__count}}', {% endfor %}],
          borderColor: [
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)'
          ],
          backgroundColor: [
            'rgba(255, 99, 132, 0.3)',
            'rgba(54, 162, 235, 0.3)',
            'rgba(255, 206, 86, 0.3)',
            'rgba(75, 192, 192, 0.3)',
            'rgba(153, 102, 255, 0.3)'
          ],
          borderWidth: 2,
          fill: false,
          pointBackgroundColor: "#fff"
        }
      ]
    };
    var options = {
      indexAxis: 'y',
      scales: {
        yAxes: [{
          display: true,
          gridLines: {
            drawBorder: true,
            lineWidth: 1,
            color: "#e9e9e9",
            zeroLineColor: "#e9e9e9",
          },
          ticks: {
            min: 0,
            //max: 100,
            fontColor: "#6c7383",
            fontStyle: 400,
          }
        }],
        
      },
      stepsize: 1,
    };
    var statusChart = new Chart(projectStatusCanvas, {
      type: 'bar',
      data: data,
      options: options
    });



</script>

<script>
  /**
   * Sum elements of an array up to the index provided.
   */
  function sumArrayUpTo(arrData, index) {
    var total = 0;
    for (var i = 0; i <= index; i++) {
      if (arrData.length > i) {
        total += arrData[i];
          }
    }
    return total;
  }
  function getData(totalHours, idealHoursPerDay) {

  }
  function showBurnDown(elementId, burndownData, scopeChange = []) {

    var speedCanvas = document.getElementById(elementId);
    const totalHoursInSprint = burndownData[0];
    const idealHoursPerDay = totalHoursInSprint / 9;
    i = 0;

    var speedData = {
      labels: [ "Day 1",	"Day 2",	"Day 3",	"Day 4",	"Day 5",	"Day 6",	"Day 7",	"Day 8",	"Day 9", "Day 10"],
      datasets: [
        {
          label: "Burndown",
          data: burndownData,
          fill: false,
          borderColor: "#EE6868",
          backgroundColor: "#EE6868",
          lineTension: 0,
        },
        {
          label: "Ideal",
          borderColor: "#6C8893",
          backgroundColor: "#6C8893",
          lineTension: 0,
          borderDash: [5, 5],
          fill: false,
          data: [
            Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 0)), // 1
            Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 1)), // 2
            Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 2)), // 3
            Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 3)), // 4
            Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 4)), // 5
            Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 5)), // 6
            Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 6)), // 7
            Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 7)), // 8
            Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 8)), // 9
            Math.round(totalHoursInSprint - (idealHoursPerDay * i++) + sumArrayUpTo(scopeChange, 9))  // 10
          ]
        },
      ]
    };

    var chartOptions = {
      legend: {
        display: true,
        position: 'top',
        labels: {
          boxWidth: 80,
          fontColor: 'black'
        }
      },
      scales: {
          yAxes: [{
              ticks: {
                  min: 0,
                  max: Math.round(burndownData[0] * 1.1)
              }
          }]
      }
    };

    var lineChart = new Chart(speedCanvas, {
      type: 'line',
      data: speedData,
      options: chartOptions
    });

  }

  showBurnDown (
    "burndownChrt",
    //   1    2    3    4    5    6    7    8    9   10
    [  250, 160, 160, 140,  90,  90,  80              ], // burndown data
    [    0,   0,   0,   0,   0,  32,   0,   0,   0,   0   ]  // scope change
  );
  </script>
  <script>
    var data = {
      labels: ['Priority'],
      datasets: [
        {
          label: 'Normal',
          data: '5',
          borderColor: [
            'rgba(255, 99, 132, 0.2)',
          ],
          backgroundColor:'#ff4747',
          borderWidth: 2,
          fill: false,
          pointBackgroundColor: "#fff"
        },
        {
          label: 'Immediate',
          data: '7',
          borderColor: [
            'rgba(153, 102, 255, 0.2)'
          ],
          backgroundColor:'#7859df',
          borderWidth: 2,
          fill: false,
          pointBackgroundColor: "#fff"
        },
        {
          label: 'Low',
          data: '3',
          borderColor: [
            'rgba(153, 102, 255, 0.2)'
          ],
          backgroundColor:'#4d83ff',
          borderWidth: 2,
          fill: false,
          pointBackgroundColor: "#fff"
        },
        {
          label: 'High',
          data: '9',
          borderColor: [
            'rgba(153, 102, 255, 0.2)'
          ],
          backgroundColor:'#282f3a',
          borderWidth: 2,
          fill: false,
          pointBackgroundColor: "#fff"
        }
      ]
    };
    var options = {
      indexAxis: 'y',
      scales: {
        x: {
          stacked: true
        },
        y: {
          stacked: true
        }       
      }
    };
    var prioChart = new Chart(priorityCanvas, {
      type: 'bar',
      data: data,
      options: options
    });
  </script>


{% endblock scripts %}