{% extends 'tracker/partials/base.html' %}
{% block content %}

    {% include 'tracker/new_tkt_and_ov_head.html' %}
    <div class="d-flex align-items-center justify-content-between flex-grow-1 mb-3 mt-5 px-3">
        <h3>Project Members</h3>
        {% if not request.user.role == 'Developer' %}
        <button type="button" class="btn btn-secondary btn-sm add_new_users">
        <i class="mdi mdi-plus"></i> Add users to project
        </button>
        {% endif %}
      </div>
    <div class="col-12">
        <div class="card p-3 add_members_section" style="background: #f3f3f3;">
            <span class="mem_close_icon"><i class="mdi mdi-close-box"></i></span>
            <div class="add_mem_sec">
                <div class="d-flex justify-content-center">
                    <div class="lds-hourglass "></div>
                </div>
            </div>
        </div>
        <div class="card-body cldr-chrt-box table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>LAST NAME</th>
                  <th>FIRST NAME</th>
                  <th>EMAIL</th>
                  <th>ROLE</th>
                  <th>JOINED ON</th>
                  <th>LAST LOGIN</th>
                  <th>ACTIONS</th>
                </tr>
              </thead>
              <tbody id="proj_mem_list">
                {% for member in members %}
                <tr>
                  <td>{{member.last_name}}</td>
                  <td>{{member.first_name}}</td>
                  <td>{{member.email}}</td>
                  <td>{{member.role}}</td>
                  <td>{{member.create_on|date:"M d, Y"}}</td>
                  <td>{{member.last_login|date:"M d, Y"}}</td>
                  {% if not request.user.role == 'Developer' %}
                    
                    <td>
                        {% if not member.is_site_creator or memmber == request.user %}
                        <span data-reg="{{member.id}}" class="d-flex align-items-center justify-content-around">
                        <span><i class="mdi mdi-pencil" data-toggle="modal" data-target="#editRoleModal" ></i></span>
                        <span><i class="mdi mdi-trash-can"></i></span>
                        </span>
                        {% endif %}
                    </td>

                  {% endif %}
                </tr>
                {% empty %}
                <p class="empty-instance"> this project has no members currently. Please invite members or add existing ones to the project</p>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
          
{% endblock content %}
{% block scripts %}{% endblock scripts %}