 <!-- Comment #1 //-->
 {% load customTimeSince %}
 <div class="com_inst" data-key="{{instance.id}}">
    <div class="py-3">
       <div class="d-flex comment" style="">
            <span class="user-p-img mr-2" style="background:{{instance.author.background}}; min-width: 32px">PD</span>
          <div class="flex-grow-1 ms-3">
             <div class="mb-1"><a href="#" class="fw-bold link-dark me-1">{{instance.author.full_name}}</a> <span class="text-muted text-nowrap">{{instance.created_on|timesince|upto:','}}</span></div>
             <div class="mb-2">{{instance.body}}</div>
             {% if request.user == instance.author %}
             <div class="hstack align-items-center mb-2">
                <a class="text-danger small mr-2 del_com"  href="#"><i class="mdi mdi-trash-can-outline" ></i>Delete</a>
             </div>
             {% endif %}
          </div>
       </div>
    </div>
</div>
       