{% extends 'tracker/partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="over_header card-header py-1 px-2 bkl" style="padding: 0;">
    <div class="d-flex">
        <div class="d-flex align-items-center">
            <div class="default-profile-picture2">
                <span class="active_project_icon" style="color:{{project.project_color}}"><i class="mdi {{project.project_icon}} mdi-36px"></i></span>
            </div>
            <div class="d-flex ml-2 mt-1 flex-column">
                <p class="lead2 m-0" style="font-size: 17px;">
                    <span class="active_project" style="font-weight: 500;">{{project.name}}</span>
                    <span class="active_project_key" style="font-style:italic;"> ({{project.key}})</span>
                </p>
                <span class="m-0 text-muted proj_type" style="font-size: 13px;">{{project.project_type}}</span>
            </div> 
        </div>
        <div class="ml-auto d-flex align-items-center">
            <span class="mr-2">members</span>
            <span class="badge badge-danger mr-3">20</span>
            {% if not request.user.is_developer %}
              <button type="button" data-toggle="modal" data-target="#invitationsModal" class="btn btn-primary btn-sm mr-2">Invite New members</button>
            {% endif %}
          </div>
    </div>
</div>
<div class="row pt-3 pl-3  full_tkt_edt" style="background:#fff; margin-top: 16px;">

    <div class="col-md-8 border-right">
        <form method="POST" id="editFullTicketForm">
            {% csrf_token %}
            <div class="d-flex align-items-center mb-3">
                <div class="d-none">{{form.ticket_type|as_crispy_field}}</div>
                <div class="">
                    <h4 class="mr-2 mb-0 _ty_cl {{type_class}}">{{instance.ticket_type}}</h4>
                </div>
                <div class="flex-grow-1">
                    {{form.subject|as_crispy_field}}
                    <span id="error_1_id_subject" class="invalid-feedbacks d-none">
                        <strong>This field is required.</strong>
                    </span>
                </div>
                
            </div>
            <div class="d-flex align-items-center mb-3">
                {{form.status}}
                <span class="ml-3" style="font-size:12px; margin-top:10px;">           
                    <div class="d-flex" style="color: #474040;">
                        <span>
                            <span class="inst_key">{{instance.key}}</span>
                             created by {{instance.created_by}}
                        </span>
                        <span> Updated: {{instance.updated_date}}</span>
                    </div>
                </span>
            </div>
            <div id="descpt">
                {{form.media}}
                {{form.description|as_crispy_field}}
            </div>
            <div>
                <h4 class="mkr">People</h4>
                <div>
                    {{form.assignee|as_crispy_field}}
                    
                    <span class="tkts-asg ml-2 ass {% if not instance.assignee %} d-none {% endif %}" style="background:{{instance.assignee.background}}">{{instance.assignee.get_first_letters}}</span>  
                </div>
                <div >
                    {{form.accountable|as_crispy_field}}
                    {% if instance.accountable %}
                        <span class="tkts-asg ml-2 acc {% if not instance.accountable %} d-none {% endif %}" style="background:{{instance.accountable.background}}">{{instance.accountable.get_first_letters}}</span> 
                    {% endif %}
                </div>
            </div>
            <div class="">
                <h4 class="mkr">Estimated and Time</h4>
                {{form.est_hours|as_crispy_field}} 
                {{form.act_hours|as_crispy_field}} 
            </div>
            <div class="">
                <h4 class="mkr">Details</h4>
                {{form.priority|as_crispy_field}}
                <div class="d-flex align-items-center justify-content-between">
                    <label>Dates</label>
                    {{form.start_date|as_crispy_field}}
                    <span class="mx-2">To</span>
                    {{form.end_date|as_crispy_field}}
                </div>
            </div>
            <div>
            {{form.progress|as_crispy_field}}
            <span id="error_1_id_progress" class="invalid-feedbacks d-none">
                <strong>Ticket progress is limited to 100.</strong>
            </span>
            </div>
            {{form.milestone|as_crispy_field}}

            <button type="submit" id="edt_full_tkt_frm" class="btn btn-primary sbmt_frm d-none">edit</button>
        </form>
    </div>
    <div class="col-md-4 border-left">
        <!-- Tabs navs -->
        <ul class="nav nav-tabs nav-justified mb-3 tkt-dtls-menu border-0" id="ex2" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="history1" data-toggle="tab" href="#History" role="tab"  aria-selected="true">
                    History
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="comment1" data-toggle="tab" href="#Comments" role="tab" aria-selected="false">
                    Comments
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="full-page"  href="" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">
                    <i class="mdi mdi-24px mdi-redo-variant" style="line-height: 0;"></i>
                </a>
            </li>

        </ul>
        <!-- Tabs navs -->
        
        <!-- Tabs content -->
        <div class="tab-content" id="ex1-content">
            <div class="tab-pane tkt_hist fade show active" id="History" role="tabpanel" aria-labelledby="ex1-tab-1" >
                {% for instance in instance.histories.all %}
                    {% include 'tracker/ticket_history.html' %}
                {% empty %}
                <span class="empt_hist">This ticket has not been updated recently</span>
                {% endfor %}
            </div>
            
            <div class="tab-pane fade" id="Comments" role="tabpanel" aria-labelledby="ex1-tab-3">
                Tab 3 content
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}
    