{% load static %}
      <nav class="navbar navbar-expand-lg main-navbar">
        <ul class="navbar-nav mr-3 align-items-center">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="ion ion-search"></i></a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
                <i class="ion ion-android-person d-lg-none"></i>
                <div class="d-sm-none d-lg-inline-block">Projects</div></a>
                <div id="navProjects" class="dropdown-menu dropdown-menu-left">
                  {% for project in site.projects.all %}
                  <span><a href="#" class="dropdown-item has-icon">
                      <img src="{{project.avatar.url}}" height="25px" width="25px" />
                      {{project.project_name}}
                  </a></span>
                  {{request.session.projectsNumber}}
                  {% endfor %}
                  {% if request.session.projectsNumber > 5 %}
                    <span><a href="#" class="dropdown-item has-icon" id="">
                      <i class="fa fa-eye"></i>View All Projects
                      </a>
                    </span>
                  {% endif %}
                  <span><a href="#" class="dropdown-item has-icon" id="addProjectNav" data-toggle="modal" data-target="#createProject">
                      <i class="fa fa-plus-square"></i>Create New Project
                  </a></span>
                </div>
            </li>

            <li class="dropdown" id="create-link"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
                <i class="ion ion-android-person d-lg-none"></i>
                <div class="d-sm-none d-lg-inline-block">Create</div></a>
                <div class="dropdown-menu dropdown-menu-left">
                  
                  <a href="#" class="dropdown-item has-icon" data-toggle="modal" data-target="#createIssue">
                    New Ticket
                  </a>
                  <a href="#" class="dropdown-item has-icon">
                    New Board
                  </a>
                  <a href="#" class="dropdown-item has-icon">
                    New Epic
                  </a>
                  <a href="#" class="dropdown-item has-icon">
                    New Component
                  </a>
                </div>
            </li>
            
        </ul>

        <ul class="navbar-nav navbar-right ml-auto">
            <form class="form-inline">
            <div class="search-element">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" type="submit"><i class="ion ion-search"></i></button>
            </div>
            </form>
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link custom notification-toggle nav-link-lg beep"><i class="ion ion-ios-bell-outline"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notifications
                <div class="float-right">
                  <a href="#">View All</a>
                </div>
              </div>
              <div class="dropdown-list-content">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <img alt="image" src="{% static 'tracker/dist/img/avatar/avatar-1.jpeg' %}" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <img alt="image" src="{% static 'tracker/dist/img/avatar/avatar-2.jpeg' %}" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Ujang Maman</b> has moved task <b>Fix bug footer</b> to <b>Progress</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="{% static 'tracker/dist/img/avatar/avatar-3.jpeg' %}" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Agung Ardiansyah</b> has moved task <b>Fix bug sidebar</b> to <b>Done</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="{% static 'tracker/dist/img/avatar/avatar-4.jpeg' %}" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Ardian Rahardiansyah</b> has moved task <b>Fix bug navbar</b> to <b>Done</b>
                    <div class="time">16 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="{% static 'tracker/dist/img/avatar/avatar-5.jpeg' %}" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Alfa Zulkarnain</b> has moved task <b>Add logo</b> to <b>Done</b>
                    <div class="time">Yesterday</div>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link custom dropdown-toggle nav-link-lg">
            <i class="ion ion-android-person d-lg-none"></i>
            <div class="d-sm-none d-lg-inline-block">{{request.user}}</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="profile.html" class="dropdown-item has-icon">
                <i class="ion ion-android-person"></i> Profile
              </a>
              <a href="profile.html" class="dropdown-item has-icon">
                <i class="fas fa-users "></i> People
              </a>
              <a href="#" class="dropdown-item has-icon">
                <i class="ion ion-log-out"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>