{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Saga Software</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'tracker/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/bootstrap.min.css.map' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/chosen.min.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/flatpickr.min.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/fontawesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/vendor.bundle.base.css' %}">
  <!-- endinject --> 
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{% static 'tracker/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'tracker/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/skeleton.min.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/skeleton.min.css.map' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/jquery-ui.theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/skeleton.min.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/skeleton.min.css.map' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/alertify.min.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/multiple-select.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/colReorder.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'tracker/images/favicon.png' %}" />
</head>
