<head>
</head>
<body bgcolor="black">
    <div>
      <div style="text-align:center; mid-width:375px; min-height:50px; padding-left:20px; padding-right:20px; max-width:600px; margin:auto; padding-top:10px">
        <img src="https://coupacafe.ncrengage.com/images/hero.png?ecdf2ecb0e3c7fca9019020cce29f631" alt="CompanyLogo" style="max-width:150px; border:5px; border-color:white; margin:20px;">
      </div>
      <div align="center" style="background-color:#FFFFFF; padding-left:20px; padding-right:20px; max-width:550px; margin:auto; border-radius:5px; padding-bottom:5px; text-align:left; margin-bottom:40px; width:80%"> 
        <h2 style="padding-top:25px; min-width:600; align:center; font-family:Roboto">
          Hi, {{ username }}!
        </h2>
        <p style="max-width:500px; align:center; font-family:Roboto; padding-bottom:0px; wrap:hard; line-height:25px">
          Thanks for creating an account with Saga Software! We're so happy to have you on board. 
        </p>
        <p style="max-width:500px; align:center; font-family:Roboto-Bold; padding-bottom:0px; wrap:hard">
          Please verify your email using the code below:
        </p>
        <h1 style="font-family:Roboto-Bold; letter-spacing:5px; margin-bottom:0px">
          {{ code }}
        </h1>
  <!--      <a href="google.com" style="width:100px; height:100px; background-color:yellow; font-family:Roboto-Bold; font-color:black; font-weight:2px; padding-top:15px; padding-bottom:15px; padding-left:15%; padding-right:15%; border-radius:30px; text-decoration:none; color:black">
          Verify Email
        </a>
  -->
  <!--      <p style="max-width:350px; align:center; font-family:Roboto; padding-bottom:20px; wrap:hard; padding-top: 0px; font-size:12px">
          Verifying your email helps us keep your account (and your rewards!) safe. Thanks for helping us do so!
        </p>
  -->
        <p style="max-width:500px; align:center; font-family:Roboto; padding-bottom:0px; wrap:hard">
          Thank you,
        </p>
        <p style="max-width:500px; align:center; font-family:Roboto; padding-bottom:20px; wrap:hard">
          The Saga Software Team
          best regards!!
        </p style="color:black">
        <hr>
        </hr>
        <p style="max-width:100%; align:center; font-family:Roboto; padding-bottom:10px; wrap:hard; padding-top: 0px; font-size:10px">
          You’re receiving this email because you recently created a new saga Software account. If this wasn’t you, please ignore this email.
        </p>
      </div>
  </div>
</body>