{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'tracker/partials/head.html' %}

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div class="brand-logo">
                <img src="{% static 'tracker/images/logo.svg' %}" alt="logo">
              </div>
              <h4>New here?</h4>
              <h6 class="font-weight-light">Join us today! It takes only few steps</h6>
              <form method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_username">{{form.username.label}}</label>
                    {{form.username}}
                    <span class="mt-1"> {{form.username.errors}}</span>
                </div>
                <div class="form-group">
                    <label for="id_email">{{form.email.label}}</label>
                    {{form.email}}
                    <span class="mt-1"> {{form.email.errors}}</span>
                </div>
                <div class="form-group">
                    <label for="id_username">{{form.full_name.label}}</label>                    
                    {{form.full_name}}                    
                    <span class="mt-1"> {{form.full_name.errors}}</span>
                </div>

                <div class="form-group">
                    <label for="id_password1">{{form.password1.label}}</label>
                    {{form.password1}}
                    <span class="mt-1"> {{form.password1.errors}}</span>
 
                </div>

                <div class="form-group">
                    <label for="id_password2">{{form.password2.label}}</label>
                    {{form.password2}}                   
                    <span class="mt-1"> {{form.password2.errors}}</span>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Register Now</button>

              </form>
              <div class="text-center mt-3 font-weight-light">
                  Already have an account? <a href="{% url 'Userlogin' %}" class="text-primary">Login</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 register-half-bg d-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2020  All rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
    {% include 'tracker/partials/scripts.html' %}
</body>

</html>
